.u-section-1 .u-sheet-1 {
  min-height: 1751px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 59px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 1558px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-7 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-8 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-image-9 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-9 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-image-10 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-10 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-10 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-image-11 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-11 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-11 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-image-12 {
  height: 295px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-12 {
  height: auto;
  min-height: 31px;
  width: 161px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-12 {
  margin: 20px auto 0;
  padding: 16px 43px 16px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 1281px;
  }

  .u-section-1 .u-image-1 {
    height: 239px;
  }

  .u-section-1 .u-image-2 {
    height: 239px;
  }

  .u-section-1 .u-image-3 {
    height: 239px;
  }

  .u-section-1 .u-image-4 {
    height: 239px;
  }

  .u-section-1 .u-image-5 {
    height: 239px;
  }

  .u-section-1 .u-image-6 {
    height: 239px;
  }

  .u-section-1 .u-image-7 {
    height: 239px;
  }

  .u-section-1 .u-image-8 {
    height: 239px;
  }

  .u-section-1 .u-image-9 {
    height: 239px;
  }

  .u-section-1 .u-image-10 {
    height: 239px;
  }

  .u-section-1 .u-image-11 {
    height: 239px;
  }

  .u-section-1 .u-image-12 {
    height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 3985px;
  }

  .u-section-1 .u-image-1 {
    height: 378px;
  }

  .u-section-1 .u-image-2 {
    height: 378px;
  }

  .u-section-1 .u-image-3 {
    height: 378px;
  }

  .u-section-1 .u-image-4 {
    height: 378px;
  }

  .u-section-1 .u-image-5 {
    height: 378px;
  }

  .u-section-1 .u-image-6 {
    height: 378px;
  }

  .u-section-1 .u-image-7 {
    height: 378px;
  }

  .u-section-1 .u-image-8 {
    height: 378px;
  }

  .u-section-1 .u-image-9 {
    height: 378px;
  }

  .u-section-1 .u-image-10 {
    height: 378px;
  }

  .u-section-1 .u-image-11 {
    height: 378px;
  }

  .u-section-1 .u-image-12 {
    height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 578px;
  }

  .u-section-1 .u-image-2 {
    height: 578px;
  }

  .u-section-1 .u-image-3 {
    height: 578px;
  }

  .u-section-1 .u-image-4 {
    height: 578px;
  }

  .u-section-1 .u-image-5 {
    height: 578px;
  }

  .u-section-1 .u-image-6 {
    height: 578px;
  }

  .u-section-1 .u-image-7 {
    height: 578px;
  }

  .u-section-1 .u-image-8 {
    height: 578px;
  }

  .u-section-1 .u-image-9 {
    height: 578px;
  }

  .u-section-1 .u-image-10 {
    height: 578px;
  }

  .u-section-1 .u-image-11 {
    height: 578px;
  }

  .u-section-1 .u-image-12 {
    height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 356px;
  }

  .u-section-1 .u-image-2 {
    height: 356px;
  }

  .u-section-1 .u-image-3 {
    height: 356px;
  }

  .u-section-1 .u-image-4 {
    height: 356px;
  }

  .u-section-1 .u-image-5 {
    height: 356px;
  }

  .u-section-1 .u-image-6 {
    height: 356px;
  }

  .u-section-1 .u-image-7 {
    height: 356px;
  }

  .u-section-1 .u-image-8 {
    height: 356px;
  }

  .u-section-1 .u-image-9 {
    height: 356px;
  }

  .u-section-1 .u-image-10 {
    height: 356px;
  }

  .u-section-1 .u-image-11 {
    height: 356px;
  }

  .u-section-1 .u-image-12 {
    height: 356px;
  }
}